<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PI TESTE</title>
  <link rel="stylesheet" href="css/sobrenos.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a596cdbb8a.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="TSA">
    <div class="title-A">
      <h1>Sobre nós</h1>
    </div>
    <div class="subtitle-A">Fundada em São Paulo no ano de 2022 por um grupo de amigos que compartilhavam de uma mesma visão, o Always Green Map nasceu para mudar a forma que nós fazemos o descarte de eletrônicos.</div>
    <div class="UTA">
      <div class="T1">
        <p> Aqui Seu Lixo é uma empresa online especializada no processo de reciclagem de lixo eletrônico. Nós nos dedicamos a conscientizar a sociedade sobre a importância de reciclar lixo eletrônico por meio de notícias, cards educativos e dicas em nosso site, e principalmente através de nossa principal ferramenta: um mapa que apresenta as localizações dos locais de descarte correto de eletrônicos mais próximos de você, tudo oferecido de forma gratuita.</p>
        <br>
        <p>Nossa equipe é formada por indivíduos excepcionais com habilidades únicas e talentos especiais que trabalham incansavelmente para alcançar resultados extraordinários dentro da empresa. Funcionamos de forma remota, o que nos permite estar em contato com pessoas de todo o Brasil, superando a barreira da distância.</p>
        <br>
        <div id="middleimg">
          <img src="/src/images/arvore.jpg" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="container-clip">
    <video autoplay loop muted plays-inline class="background-clip">
        <source src="/src/images/How Computers and Electronics Are Recycled.mp4" type="video/mp4">
    </video>
    <div class="content-clip">
                  <h1>Explore More</h1>
    </div>
</div>
<div class="TSA">
  <div class="teste">
    <p>Começamos nossas atividades no ano de 2022, na cidade de São Paulo, e desde então nos esforçamos para ajudar a construir um mundo mais sustentável, oferecendo uma ferramenta poderosa e prática para auxiliar você a realizar o descarte correto do seu lixo eletrônico, sem precisar percorrer grandes distâncias.</p>
    <br>
    <p>Nosso objetivo é oferecer a você informações valiosas sobre a reciclagem de lixo eletrônico, conscientizando a sociedade sobre a importância de fazer o descarte correto e preservando o meio ambiente. Junte-se a nós nesta importante missão de cuidar do planeta!</p>
  </div>
</div>


  <div class="title-B">
    <h1>Nossos valores</h1>
  </div>
  <div class="subtitle-B">Nós somos um time focado em qualidade e acessibilidade, onde cada membro tem voz ativa e contribui para o sucesso, dentro e fora do ambiente de trabalho. Orgulhamo-nos de criar um ambiente criativo, colaborativo e inclusivo, onde compartilhamos valores que tornam tudo possível.</div>
  
  <div class="container">
    <button class="arrow-left control" aria-label="Previous image">◀</button>
    <button class="arrow-right control" aria-label="Next Image">▶</button>
    <div class="gallery-wrapper">
      <div class="gallery">
        <!--       <div class="item current-item cyan"></div>
      <div class="item deeppink"></div>
      <div class="item turquoise"></div>
      <div class="item darkblue"></div>
      <div class="item purple"></div> -->
        <img src="https://source.unsplash.com/random/250x250/?beach" alt="Beach Image" class="item current-item">
        <img src="https://source.unsplash.com/random/250x250/?animal" alt="Animal Image" class="item current-item">
        <img src="https://source.unsplash.com/random/250x250/?street" alt="Street Image" class="item current-item">
        <img src="https://source.unsplash.com/random/250x250/?zoo" alt="Zoo Image" class="item current-item">
        <img src="https://source.unsplash.com/random/250x250/?model" alt="Model Image" class="item current-item">
        <img src="https://source.unsplash.com/random/250x250/?model" alt="Model Image" class="item current-item">
      </div>
    </div>
  </div>
  <div class="title-B">
    <h1>Equipe</h1>
  </div>
  <div class="subtitle-B">Você já se perguntou quem está por trás do nosso sucesso incrível? Permita-me apresentar os
    membros da nossa equipe, indivíduos excepcionais com habilidades únicas e talentos especiais que trabalham
    incansavelmente para alcançar resultados extraordinários. Com suas contribuições únicas, somos capazes de superar
    qualquer desafio e alcançar o sucesso além das nossas expectativas. Venha conhecer os responsáveis por nossas
    conquistas incríveis e deixe-se inspirar pelo poder da colaboração e da dedicação em equipe.</div>
  <section class="containeeer">
    <div class="carde">
      <div class="imagem">
        <img src="src/images/ims5.jpg" alt="" />
      </div>
      <h2 class="carde-title">Full Stack Developer</h2>
      <h3 class="carde-name">Vitor Queiroz</h3>
      <p class="carde-resume">Lorem ipsum dolor sit amet consectetur adipisicing elite.</p>
      <div class="icons">
        <a href ="https://www.linkedin.com/in/vitor-queiroz-018488228/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin" style="color: #4ed641;" > </i></a>
        <a href="https://github.com/VQueiroz6" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-github" style="color: #4ed641;"></i></a>
        <a href="https://www.instagram.com/vitorqueiroz202/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-instagram" style="color: #4ed641;"></i></a>
        <a href="https://twitter.com/OFF_RONIN" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-twitter" style="color: #4ed641;"></i></a>
      </div>
    </div>
    <div class="carde">
      <div class="imagem">
        <img src="src/images/ims5.jpg" alt="" />
      </div>
      <h2 class="carde-title">Full Stack Developer</h2>
      <h3 class="carde-name">Guilherme Oliveira</h3>
      <p class="carde-resume">Lorem ipsum dolor sit amet consectetur adipisicing elite.</p>
      <div class="icons">
        <a href ="https://www.linkedin.com/in/guilherme-oliveiraa/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin" style="color: #4ed641;" > </i></a>
        <a href="https://github.com/GuiOliveiraR" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-github" style="color: #4ed641;"></i></a>
        <a href="https://twitter.com/Gui_Oliveira_R" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-instagram" style="color: #4ed641;"></i></a>
        <a href="https://www.instagram.com/guii.0liveira_/  " target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-twitter" style="color: #4ed641;"></i></a>
      </div>
    </div>
    <div class="carde">
      <div class="imagem">
        <img src="src/images/ims5.jpg" alt="" />
      </div>
      <h2 class="carde-title">Full Stack Developer</h2>
      <h3 class="carde-name">Matheus Ribeiro</h3>
      <p class="carde-resume">Tem uma irmã muito gostosa</p>
      <div class="icons">
        <a href ="https://www.linkedin.com/in/mateus-felipe-ribeiro/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin" style="color: #4ed641;" > </i></a>
        <a href="https://github.com/Mts1God" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-github" style="color: #4ed641;"></i></a>
        <a href="" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-instagram" style="color: #4ed641;"></i></a>
        <a href="" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-twitter" style="color: #4ed641;"></i></a>
      </div>
    </div>
    <div class="carde">
      <div class="imagem">
        <img src="src/images/ims5.jpg" alt="" />
      </div>
      <h2 class="carde-title">Full Stack Developer</h2>
      <h3 class="carde-name">Thiago Santana</h3>
      <p class="carde-resume">Lorem ipsum dolor sit amet consectetur adipisicing elite.</p>
      <div class="icons">
        <a href ="" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin" style="color: #4ed641;" > </i></a>
        <a href="" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-github" style="color: #4ed641;"></i></a>
        <a href="" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-instagram" style="color: #4ed641;"></i></a>
        <a href="" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-twitter" style="color: #4ed641;"></i></a>
      </div>
    </div>
    <div class="carde">
      <div class="imagem">
        <img src="src/images/ims5.jpg" alt="" />
      </div>
      <h2 class="carde-title">Full Stack Developer</h2>
      <h3 class="carde-name">João Orfão</h3>
      <p class="carde-resume">Lorem ipsum dolor sit amet consectetur adipisicing elite.</p>
      <div class="icons">
        <a href ="" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin" style="color: #4ed641;" > </i></a>
        <a href="" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-github" style="color: #4ed641;"></i></a>
        <a href="" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-instagram" style="color: #4ed641;"></i></a>
        <a href="" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-twitter" style="color: #4ed641;"></i></a>
      </div>
    </div>
        <div class="carde">
      <div class="imagem">
        <img src="src/images/ims5.jpg" alt="" />
      </div>
      <h2 class="carde-title">Full Stack Developer</h2>
      <h3 class="carde-name">Lucas Leocadio</h3>
      <p class="carde-resume">Lorem ipsum dolor sit amet consectetur adipisicing elite.</p>
      <div class="icons">
        <a href ="https://www.linkedin.com/in/lucas-leocadio-88755b227/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin" style="color: #4ed641;" > </i></a>
        <a href="https://github.com/D0nnye" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-github" style="color: #4ed641;"></i></a>
        <a href="https://www.instagram.com/donleocadio_/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-instagram" style="color: #4ed641;"></i></a>
        <a href="https://twitter.com/D0nnye_" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-twitter" style="color: #4ed641;"></i></a>
      </div>
    </div>
  </section>
</body>
<script src="src/controllers/news.sobrenos.js"></script>
<script src="src/js/swiper-bundle.min.js"></script>
</html>